body {
    max-width:800px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width:640px){
    body {
        background-color: #eaf6ff;
    }
    h1 {
        font-size:2.5rem;
    }
}

@media (max-width: 500px){
    h1 {
    font-size: 1.5rem;
    }
}

#fixed-size-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    font-size: 0.8rem;
}

#fixed-size-grid-items ul li {
    display: block;
}

#fixed-size-grid-items ul li aside {
    width: 170px;
    margin: 10px;
}

#stretchable-grid-items ul{
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    list-style-type:none;
    margin-left:-10px;
    margin-right:-10px;
    margin-top:1rem;
    margin-bottom:1rem;
}

#stretchable-grid-items ul li {
    width:100%;
}


@media (min-width: 480px) {
    #stretchable-grid-items ul li {
    width: 50%;
    }
}

@media (min-width: 640px) {
    #stretchable-grid-items ul li {
    width: 25%;
    }
}

#stretchable-grid-items ul li aside {
    margin: 10px;
}

section {
    display:block;
}