header {
    margin-bottom:3rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    text-transform:uppercase;
    font-size:1rem;
    font-weight:lighter;
}

p {
    line-height:1.6;
}

.see-all {
    font-size:0.8em;
    text-transform:uppercase;
}

.cast li {
    width: 25%;
}

ul {
    width:100%;
}

ul.content {
    width:100%;
}

.cast img {
    width:100%;
}

.shows>li {
    border-top: solid; border: top 1px;
    border-color: black;
}

.selected a {
    font-weight:bold;
    color:black;
}

.cast ul li a div {
    font-size: 0.8rem;
}

.cast ul li img + div {
    font-weight: bold;
}

.cast ul li img + div + div {
    font-style: italic;
}

.seasons ul li:last-child::after {
    content: "*";
}

.seasons::after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}